.searchResult {

  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  align-items: flex-start;
}

.searchResultInstruction {
  width: 50%;
}

.searchResultInstruction ul {
  padding: 0;

}

.searchResult h2 {
  width: 50%;
  font-size: 1.1rem;
  font-weight: normal;
}

.searchResult li {
  font-size: 1rem;
}

